/**
{%- for description in model.documentComment.descriptions %}
 * {{ description }}
{%- endfor %}
 */
export const {{ model.name }} = {
    {%- for property in model.properties %}

    /**
    {%- for description in property.documentComment.descriptions %}
     * {{ description }}
    {%- endfor -%}
    {%- if 0 < property.documentComment.links.length %}
     *
    {%- for link in property.documentComment.links %}
     * * [{{ link.title }}]({{ link.url }})
    {%- endfor %}
    {%- endif -%}
    {%- if property.decorators.deprecated %}
     *
     * @deprecated {{ property.decorators.deprecated }}
    {%- endif %}
     */
    {{ property.name.snake }}: {{ ('"' | safe) if model.extends === "String" }}{{ property.value }}{{ ('"' | safe) if model.extends === "String" }},
    {%- endfor %}
} as const;

/**
{%- for description in model.documentComment.descriptions %}
 * {{ description }}
{%- endfor %}
 */
export type {{ model.name }} = (typeof {{ model.name }})[keyof typeof {{ model.name }}];
