/* You can add global styles to this file, and also import other style files */
@import "purecss/build/base.css";
@import "purecss/build/buttons.css";
@import "purecss/build/forms.css";
@import "purecss/build/grids.css";
@import "purecss/build/grids-responsive.css";


/*
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
*/
